<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uiza.activity">

    <application
        android:name="com.uiza.app.SampleLiveApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" />

        <activity
            android:name=".UZBroadCastActivity"
            android:parentActivityName="com.uiza.activity.MainActivity"
            android:screenOrientation="locked" />

        <activity
            android:name=".UZDisplayActivity"
            android:screenOrientation="locked" />

    </application>

</manifest>
